<!-- <h3>Accounts of  <%= @customer.customer_name %></h3> -->

	<% @accounts.each do |account| %>
	 	<% if @customer.id == account.customer_id %>
 			<%= account.customer_id %><br>		
 		<% end %>
	<% end %>
	
<br>
<%= link_to 'Back', customer_path %>