*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: pink;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;  
}

header {
  margin-top: 5px;
  background-color: #000;
  color: #eee;
  text-align: center;
}

header p {
    line-height: 50px;
}

.space {
  min-height: 500px;
}

.main_container {
	min-height: 50px;
	margin-top:10px;
	margin-left:10px;
  margin-right: 1px;
	display: inline-block;
	vertical-align: top;
}

.image {
  display: inline-block;
  position: absolute;
  right: 0px;
  margin-top:8px;
}

.h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold; 
}

.tab {
  margin-left: 113px;
}

.tab1 {
  margin-left: 115px;
}

.tab2 {
  margin-left: 89px;
}

.tab3 {
  margin-left: 26px;
}

h1 {
	padding: 0.3em 0.3em 0.5em 0em;
	font-size: 18px;
}

th {
	color:blue;
  padding: 0.3em 0.3em 0.3em 0em;
}

td {
  padding: 0.3em 0.3em 0.3em 0em;
}

li.error {
  color:red;
}

tab {
  margin-left: 10px;
}

.img {
max-height: 100px;
max-width:  100px;

}

footer {
  margin: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer p{
  margin-top: 18px;
}
